<?php

declare(strict_types=1);

namespace {{ .Namespace }};


/*
 * {{ .Summary }}
 */

class {{ .ClassName }}
{
    public function __construct(
        public array $categoryIds,
        public int $defaultCatalogQuantity,
        public string $description,
        public string $imageId,
        public bool $isAlwaysAvailable,
        public bool $isVisible,
        public string $name,
        public int $packageSize,
        public int $priority,
        public string $productId,
        public string $shortDescription,
    ) {
    }
}
